<div class="d-flex justify-content-center my-5">
  <h1><strong>[<%= @list.name %>]</strong></h1>
</div>

<div class="mx-3 row justify-content-center">
  <%= link_to "Add movie to this list 💬", new_list_bookmark_path(@list), class: 'btn btn-info mb-3' %>
  <div class="cards">
    <% @list.movies.each_with_index do |movie, index| %>
      <div class="card-movie" style="background-image: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%), url(<%= movie.poster_url %>)">
        <%= link_to '✖', bookmark_path(@list.bookmark_ids[index]), method: :delete, class: 'delete-btn' %>
        <div class="rating">
          <h3 style="border-radius: 20px 0 0 20px; background-color: <%= movie.color %>">★ <%= movie.rating %></h3>
        </div>
          <% comment = movie.bookmarks.where(list: @list).first.comment %>
          <p class="comment">"<%= comment.size < 30 ? comment : comment.slice(0..30) + '...' %>"</p>
        <div class="movie-description">
          <h2><%= movie.title %></h2>
          <p><%= movie.overview.slice(0..140) %>...</p>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "↩ Back", lists_path, class: 'btn btn-outline-dark my-3' %>
</div>
