<div class="d-flex justify-content-center">
  <div class="col-12 col-sm-8 col-md-6 col-xl-4 col-xxl-4">
    <div class="container card bg-light py-3">
      <h3 class='my-4 text-center'><strong>Add a movie 🎬</strong></h3>
      <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie, collection: @movies, include_blank: false %>
          <%= f.input :comment %>
          <%= f.submit class: 'btn btn-info mt-3 w-100' %>
      <% end %>
      <%= link_to "↩ Back", lists_path, class: 'btn btn-outline-dark mt-3' %>
    </div>
  </div>
</div>
